.row {
  color: #fff;
  margin-left: 20px;
}
.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.posters::-webkit-scrollbar {
  display: none;
}
.poster {
  max-height: 250px;
  margin-right: 10px;
}
.small_poster {
  max-height: 140px;
  margin-right: 10px;
}
