.row {
  color: #fff;
  margin-left: 20px;
}
.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.posters::-webkit-scrollbar {
  display: none;
}
.poster {
  cursor: pointer;
  max-height: 250px;
  margin-right: 10px;
}
.small_poster {
  cursor: pointer;
  max-height: 140px;
  margin-right: 10px;
}
.poster:hover {
  transform: scale(1.1);
  /* transition: all 0.2s ease-in; */
}
.small_poster:hover {
  transform: scale(1.1);
  /* transition: all 0.2s ease-in; */
}
